.advantages {
  background: linear-gradient(293.74deg, #f8faff 34.3%, #f2f6ff 99.57%);
  border-top-left-radius: 578px;
  border-bottom-left-radius: 578px;

  &__container {
    z-index: 1;
    position: relative;
    padding-top: 65px;
    padding-bottom: 63px;
  }

  &__cards {
    padding-left: 150px;
    padding-right: 90px;
    display: flex;
    gap: 50px;
    margin-bottom: 41px;
  }

  &__card {
    max-width: 300px;
  }

  &__decor {
    position: absolute;
    top: -73px;
    right: -54px;
  }

  &__btn {
    cursor: pointer;
    margin: 0 auto;
    color: var(--color-cobalt);
    border-radius: 30px;
    font-family: "Intro";
    font-size: 18px;
    line-height: 32px;
    background-color: var(--color-dandelion);
    padding: 7px 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
    &:hover {
      color: white;
    }
  }
}

.card {
  &__img {
    margin-bottom: 26px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 8px 16px rgba(43, 107, 243, 0.16));
    background-color: var(--color-white);
  }

  &__title {
    color: var(--color-cobalt);
    font-family: "Intro";
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 21px;

    & a {
      text-decoration: underline;
      color: var(--color-light-denim);
      transition: all 0.3s ease 0s;
    }

    & a:hover {
      text-decoration: none;
      opacity: 0.7;
    }
  }

  &__text {
    color: var(--color-grey);
    line-height: 24px;
  }
}

@include xl {
  .advantages {
    border-radius: 0;
  }

  .advantages__cards {
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    justify-content: center;
  }
  .advantages__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .advantages__decor {
    display: none;
  }
}

@include lg {
  .advantages__cards {
    flex-direction: column;
    row-gap: 36px;
    align-items: center;
  }
}

@include xs {
  .advantages__container {
    padding-top: 49px;
    padding-bottom: 50px;
  }
  .advantages__cards {
    row-gap: 41px;
    padding-left: 0;
    padding-right: 0;
  }
  .advantages__card {
    max-width: none;
  }
  .card__img {
    width: 64px;
    height: 64px;
    margin-bottom: 27px;
  }
  .card__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .advantages__text {
    margin-bottom: 39px;
  }
  .advantages__btn {
    padding: 7px 96px;
  }
}

