:root  {
  --color-dandelion: #ffdd2d;
  --color-light-denim: #2b6bf3;
  --color-cobalt: #1d253c;
  --color-pale-aqua: #c2d2f4;
  --color-infra-red: #fd466e;
  --color-alice-blue: #f1f4fc;
  --color-aquamarine: #6fcf97;
  --color-jungle-green: #27ae60;
  --color-ghost-white: #f8faff;
  --color-grey: #666;
  --color-beau-blue: #c1cfef;
  --color-light-steel: #b7c6e7;
  --color-white: #fff;
  --color-black: #000;
}