<section class="advantages">
  <div class="advantages__container">
    <h2 class="advantages__title section__title">What we do</h2>
    <p class="advantages__text section__text">Express courier service in the
      city. We are a reliable logistics partner for delivery services for
      online stores and restaurants!</p>
    <div class="advantages__cards">
      <div class="advantages__card card">
        <div class="card__img">
          <picture class="stages__img">
            <source
              srcset="/public/img/advantages/1-360.svg"
              media="(max-width: 480px)"
            />
            <img src="/public/img/advantages/1.svg" alt="online calculation" />
          </picture>
        </div>
        <h3 class="card__title">Online <a href="#">calculation</a></h3>
        <p class="card__text">Instant calculation of&nbsp;the cost in&nbsp;the
          order form, the price is&nbsp;updated in&nbsp;the process
          of&nbsp;filling out the form
        </p>
      </div>
      <div class="advantages__card card">
        <div class="card__img">
          <picture class="stages__img">
            <source
              srcset="/public/img/advantages/2-360.svg"
              media="(max-width: 480px)"
            />
            <img src="/public/img/advantages/2.svg" alt="minimum paperwork" />
          </picture>
        </div>
        <h3 class="card__title">Minimum paperwork</h3>
        <p class="card__text">You can place an&nbsp;order for courier or
          freight delivery without registration and contract.</p>
      </div>
      <div class="advantages__card card">
        <div class="card__img">
          <picture class="stages__img">
            <source
              srcset="/public/img/advantages/3-360.svg"
              media="(max-width: 480px)"
            />
            <img src="/public/img/advantages/3.svg" alt="convenient payment" />
          </picture>
        </div>
        <h3 class="card__title">Convenient payment</h3>
        <p class="card__text">You can pay for delivery by&nbsp;card or in cash
          at&nbsp;any of&nbsp;the order addresses. For legal entities non-cash
          is&nbsp;available.
          <button class="card-more"><img
              src="/public/img/advantages/card-more.svg"
              alt="read more"
            /></button>
        </p>
      </div>
    </div>
    <button class="advantages__btn btn-fill">Get started!</button>
    <img
      class="advantages__decor"
      src="/public/img/advantages/Intersect.png"
      alt="decor line"
    />
  </div>
</section>