<section class="express section">
  <div class="express__container">
    <h2 class="express__title section__title">
      Express delivery market revolution
    </h2>
    <p class="express__text section__text">Express courier service in&nbsp;the
      city. We&nbsp;are a&nbsp;reliable logistics partner for delivery services
      for online stores and restaurants!
    </p>
    <div class="express__resource resourse">
      <div class="resourse__card card-resourse">
        <h3 class="card-resourse__title">Become a Courier</h3>
        <div class="card-resourse__additional">
          <div class="card-resourse__circle">
            <img
              class="circle-img"
              src="/public/img/express/bicicle.svg"
              alt="bicicle"
            />
          </div>
          <img src="/public/img/express/Route.svg" alt="route" />
        </div>
        <p class="card-resourse__text">You choose a&nbsp;schedule. You decide
          how much and when&nbsp;to earn. Earnings from day one</p>
      </div>
      <div class="resourse__card card-resourse">
        <h3 class="card-resourse__title">Help & Support</h3>
        <div class="card-resourse__additional">
          <div class="card-resourse__circle">
            <img
              class="circle-img"
              src="/public/img/express/Support.svg"
              alt="support"
            />
          </div>
        </div>
        <p class="card-resourse__text">Door-to-door delivery in&nbsp;90&nbsp;minutes or&nbsp;at&nbsp;your convenience
        </p>

      </div>
      <div class="resourse__card card-resourse">
        <h3 class="card-resourse__title">Affiliate Program</h3>
        <div class="card-resourse__additional">
          <div class="card-resourse__circle">
            <img
              class="circle-img"
              src="/public/img/express/rukzak.svg"
              alt="backpack"
            />
          </div>
        </div>
        <p class="card-resourse__text">Use our service and feel<br/>new quality of&nbsp;this traditional service!</p>
      </div>
    </div>
  </div>
  <div class="section-line circle-add">
    <div class="section-line__circle">
      <img
        class="section-line__box"
        src="/public/img/express/box.svg"
        alt="decor box"
      />
    </div>
  </div>
</section>