<footer class="footer">
  <div class="footer__container">
    <div class="footer__content">
      <div class="footer__about about-footer">
        <h3 class="about-footer__title footer__title">About Whoosh</h3>
        <p class="about-footer__text footer__text">
          Express delivery of documents and parcels for organizations, express
          delivery of correspondence, purchases and other goods
        </p>
      </div>
      <div class="footer__lists">
        <div class="footer__menu menu-footer">
          <h3 class="menu-footer__title footer__title">Menu</h3>
          <div class="footer__line"></div>
          <ul class="menu-footer__list footer__list">
            <li class="menu-footer__item">
              <a href="#" class="menu-footer__link">About company</a>
            </li>
            <li class="menu-footer__item">
              <a href="#" class="menu-footer__link">Contact</a>
            </li>
            <li class="menu-footer__item">
              <a href="#" class="menu-footer__link">Rules</a>
            </li>
            <li class="menu-footer__item">
              <a href="#" class="menu-footer__link">FAQ</a>
            </li>
            <li class="menu-footer__item">
              <a href="#" class="menu-footer__link">Reviews</a>
            </li>
            <li class="menu-footer__item">
              <a href="#" class="menu-footer__link">Cargo transportation</a>
            </li>
            <li class="menu-footer__item">
              <a href="#" class="menu-footer__link">Tariffs</a>
            </li>
          </ul>
        </div>
        <div class="footer__services services-footer">
          <h3 class="services-footer__title footer__title">Services</h3>
          <div class="footer__line"></div>
          <ul class="services-footer__list footer__list">
            <li class="services-footer__item">
              <a href="#" class="services-footer__link">Online stores</a>
            </li>
            <li class="services-footer__item">
              <a href="#" class="services-footer__link">Legal entity</a>
            </li>
            <li class="services-footer__item">
              <a href="#" class="services-footer__link">API Integration</a>
            </li>
            <li class="services-footer__item">
              <a href="#" class="services-footer__link">Contract</a>
            </li>
            <li class="services-footer__item">
              <a href="#" class="services-footer__link">Jobs</a>
            </li>
            <li class="services-footer__item">
              <a href="#" class="services-footer__link">Courier job</a>
            </li>
            <li class="services-footer__item">
              <a href="#" class="services-footer__link">The blog</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__contact contact-footer">
        <h3 class="contact-footer__title footer__title">Contact us</h3>
        <div class="footer__line"></div>
        <a class="contact-footer__tel" href="tel:+78009345959">8 800 934 5959</a>
        <p class="contact-footer__text">
          2545&nbsp;W. Diversey Ave. 3rd&nbsp;Floor Chicago, IL&nbsp;60647
        </p>
        <ul class="contact-footer__social social">
          <li class="social__item">
            <a href="" class="social__link facebook">
              <img src="img/footer/facebook.svg" alt="facebook" />
            </a>
          </li>
          <li class="social__item">
            <a href="" class="social__link vk">
              <img src="img/footer/vk.svg" alt="vk" />
            </a>
          </li>
          <li class="social__item">
            <a href="" class="social__link youtube">
              <img src="img/footer/youtube.svg" alt="youtube" />
            </a>
          </li>
          <li class="social__item">
            <a href="" class="social__link instagram">
              <img src="img/footer/instagram.svg" alt="instagram" />
            </a>
          </li>
        </ul>
        <div class="privacy-hidden">
          <span class="privacy__policy">Privacy policy</span>
          <p class="privacy__text">© 2022. All rights reserved.</p>
        </div>
      </div>
    </div>
    <div class="section-line made-by">
      <div class="section-line__circle"><p class="made-by__text">Made by</p></div>
    </div>
    <div class="footer__privacy privacy">
      <p class="privacy__text">© 2022. All rights reserved.</p>
      <a href="#" class="footer__logo">
        <picture>
          <source srcset="img/footer/logo-360.png" media="(max-width: 500px)" />
          <img src="img/footer/logo.png" alt="logo pyrobyte" />
        </picture>
      </a>
      <span class="privacy__policy">Privacy policy</span>
    </div>
  </div>
</footer>