<section class="partners section">
  <div class="partners__container">
    <h2 class="partners__title section__title">Our Partners</h2>
    <div class="partners__swiper swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="" class="swiper__link">
          <img
              src="/public/img/partners/1.svg"
              alt="alva"
            />
          </a>
        </div>
        <div class="swiper-slide">
          <a href="" class="swiper__link">
          <img
              src="/public/img/partners/2.svg"
              alt="tendo"
            />
          </a>
        </div>
        <div class="swiper-slide">
          <a href="" class="swiper__link">
          <img
              src="/public/img/partners/3.svg"
              alt="fagor"
            />
          </a>
        </div>
        <div class="swiper-slide">
          <a href="" class="swiper__link">
          <img
              src="/public/img/partners/4.svg"
              alt="radioshock"
            />
          </a>
        </div>
        <div class="swiper-slide">
          <a href="" class="swiper__link">
            <img
              src="/public/img/partners/guitar-center.svg"
              alt="guitar center"
            />
          </a>
        </div>
      </div>
    </div>
    <a class="colloborate"><img
        src="/public/img/partners/partners-rukz.svg"
        alt="our partners"
      />Let's collaborate
    </a>
  </div>
</section>