<section class="payment">
  <div class="payment__container">
    <h2 class="payment__title section__title">Payment methods</h2>
    <div class="payment__swiper swiper">
      <div class="payment__content">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="/public/img/payments/4.jpg" alt="pay google" />
          </div>
          <div class="swiper-slide">
            <img src="/public/img/payments/5.jpg" alt="sofort" />
          </div>
          <div class="swiper-slide">
            <img src="/public/img/payments/1.jpg" alt="union pay" />
          </div>
          <div class="swiper-slide">
            <img src="/public/img/payments/2.jpg" alt="visa" />
          </div>
          <div class="swiper-slide">
            <img src="/public/img/payments/6.jpg" alt="mastercard" />
          </div>
          <div class="swiper-slide">
            <img src="/public/img/payments/3.jpg" alt="amex" />
          </div>
        </div>
      </div>
      <div class="swiper-button-next">
        <img src="/public/img/payments/Right.svg" alt="right">
      </div>
      <div class="swiper-button-prev">
        <img src="/public/img/payments/Left.svg" alt="left">
      </div>
    </div>
  </div>
  <div class="section-line circle-add">
    <div class="section-line__circle"><img
        class="section-line__box"
        src="/public/img/express/box.svg"
        alt="decor box"
      />
      </div>
  </div>
</section>