<section class="text">
  <div class="text__container">
    <p class="text__descr">
      <span class="text__main">
        Since 2019, LibertyWalk has successfully provided express courier
        delivery services in&nbsp;the city for both individuals and legal
        entities, and is&nbsp;also a&nbsp;reliable logistics partner for
        delivery services for online stores and restaurants! Express delivery
        of&nbsp;documents and parcels for organizations, express delivery
        of&nbsp;correspondence, purchases, flowers, food, gifts and goods
        up&nbsp;to&nbsp;1.5 tons&nbsp;&mdash; the most frequent orders
        in&nbsp;our company.
      </span>
      <span class="text__hidden">
        <br /><br />
        But at&nbsp;the same time, we&nbsp;do&nbsp;not limit the range
        of&nbsp;courier services and without problems we&nbsp;can buy and bring
        goods and products from the online store, arrange delivery for the
        online store, cafe, supermarket, restaurant or&nbsp;any other business.
        Around the clock on&nbsp;our website you can call a&nbsp;courier
        in&nbsp;just a&nbsp;minute and arrange an&nbsp;express courier delivery
        without unnecessary bureaucracy, negotiations and calls to&nbsp;the call
        center.
      </span>
      <button class="text__btn" id="text__btn" onclick="readMore()">
        <img src="/public/img/text/dot.svg" alt="decor dot" />
        <img src="/public/img/text/dot.svg" alt="decor dot" />
        <img src="/public/img/text/dot.svg" alt="decor dot" />
    </button>
    </p>
  </div>
  <div class="section-line"></div>
</section>